#product-list {
    background-color: #fff;
    border: 1px solid #ddd;
    transition: transform 0.3s ease;
    flex: 0 1 calc(20% - 8px);
  }
  
  #product-list button:hover {
    color: #ffff;
    border-color: #ffff;
  }
  
  @media screen and (max-width: 768px) {
    .product {
      padding: 15px;
    }
  }
  